<div style="margin: 10%;">
  <ng-container>
    <!-- toolbar -->
    <mat-toolbar style="background-color: #FB8812;">
      <h1 id="heading-one">Products Catalogue</h1>
    </mat-toolbar>

    <!-- sidenav -->
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened id="sidenav"
                    [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
                    [fixedBottomGap]="options.bottom">
          <mat-list role="list">
            <mat-list-item class="nav-list" role="listitem" routerLink="/categories" routerLinkActive="active">Categories</mat-list-item>
            <mat-list-item class="nav-list" role="listitem" routerLink="/products" routerLinkActive="active">Products</mat-list-item>
            <mat-list-item class="nav-list" role="listitem" routerLink="/reporting" routerLinkActive="active">Reports</mat-list-item>
          </mat-list>
        </mat-sidenav>

        <mat-sidenav-content id="sidenav-content">
          <!-- body content -->
          <router-outlet></router-outlet>
        </mat-sidenav-content>

      </mat-sidenav-container>
  </ng-container>
</div>
